service: jobcan-scraping-lambda
frameworkVersion: "3"

custom:
  serviceName: jobcan-${self:provider.stage}

provider:
  name: aws
  stage: ${opt:stage, "dev"}
  region: ap-northeast-1
  deploymentBucket: ${file(deployment/serverless.${opt:stage}.yml):deploy.bucket-name}
  environment: ${file(deployment/serverless.${opt:stage}.yml):environment}
  timeout: 300
  role: ${file(deployment/serverless.${opt:stage}.yml):iam-role}
  ecr:
    images:
      jobcan-scraping-lambda:
        uri: ${file(deployment/serverless.${opt:stage}.yml):deploy.ecr-repository.uri}
functions:
  DownloadZacCsv:
    name: ${self:custom.serviceName}-download-zac-csv
    image:
      name: jobcan-scraping-lambda
      command:
        - dist/handlers/handlers.handler
      entryPoint:
        - /entry_script.sh
    events:
      - sqs:
          arn: ${file(deployment/serverless.${opt:stage}.yml):queue.jobcan-scraping-lambda-queue}
          maximumConcurrency: 2
          batchSize: 1
