name: development
on:
  push:
    branches:
      - "deployment/development"
jobs:
  terraform-apply:
    uses: ./.github/workflows/_terraform.yml
    with:
      stage: dev
      should_apply: true
      role-to-assume: arn:aws:iam::105785188161:role/oidc-github-actions-role
  static-check:
    uses: ./.github/workflows/_static_check.yml
  serverless-deploy:
    uses: ./.github/workflows/_serverless.yml
    needs: static-check
    with:
      stage: dev
      role-to-assume: arn:aws:iam::105785188161:role/oidc-github-actions-role
